@import "variables";
@import "mixins";

$font-family: $font-sans;

$radius-primary:   $rounded;
$radius-secondary: $rounded;

:root {
  --color-bg--main:      #{$gray-100};
  --color-bg--surface:   #{$white};
  --color-bg--highlight: #{$gray-200};
  --color-border:        #{$gray-200};
  --color-primary:       #{$gray-600};
  --color-text:          #{$gray-700};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg--main:      #{$blue-gray-900};
    --color-bg--surface:   #{$blue-gray-800};
    --color-bg--highlight: #{$blue-gray-700};
    --color-border:        #{$blue-gray-600};
    --color-primary:       #{$blue-gray-400};
    --color-text:          #{$blue-gray-200};
  }
}

*, ::before, ::after {
  border-color: var(--color-border);
}

html {
  accent-color: var(--color-primary);
  background: var(--color-bg--main);
  color: var(--color-text);
  font-family: $font-family;
}

@media (min-width: $breakpoint-md) {
  html { font-size: $text-xl; }
}

.btn {
  border-radius: $radius-primary;
  border-width: $border;
  display: inline-block;
  padding: $size-1-5 $size-3;
  font-weight: $font-medium;
  cursor: pointer;

  &--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-bg--surface);
  }

  &--secondary {
    background-color: var(--color-bg--surface);
    border-color: var(--color-primary);
  }

  &--tertiary {
    background-color: $transparent;
    border-color: $transparent;
  }

  &--small {
    font-size: $text-sm;
  }

  &__icon {
    vertical-align: sub;
    font-size: 1.25em;
  }

  &:disabled {
    pointer-events: none;
    opacity: $opacity-50;
  }
}

.input {
  appearance: none;
  resize: none;
  background-color: var(--color-bg--surface);
  border-radius: $radius-secondary;
  border-width: $border;
  padding: $size-2;
  width: $w-full;

  &--select {
    background: image-url("select-arrow.svg") right $size-3-5 center no-repeat;
  }

  &:disabled {
    pointer-events: none;
    opacity: $opacity-50;
  }
}

.dropdown {
  background-color: var(--color-bg--surface);
  border-width: $border; border-radius: $radius-primary;
  padding: $size-4;
  position: absolute;
  z-index: $z-10;
}

[type="checkbox"], [type="radio"] {
  transform: scale(1.36); margin: $size-1;
}

blockquote {
  border-left-width: $border-4;
  padding: $size-2-5;
}

code {
  background-color: var(--color-bg--main);
  border-radius: $rounded;
  font-size: $text-sm;
  padding: $size-1;
  white-space: nowrap;
}

pre {
  background-color: var(--color-bg--main);
  border-left-width: $border-4;
  overflow-y: hidden;

  > code {
    border-radius: $rounded-none;
    display: block;
    padding: $size-2-5;
    white-space: pre;
  }
}

kbd {
  background-color: var(--color-primary);
  border-radius: $rounded;
  font-size: $text-sm;
  padding: $size-0-5;
  color: var(--color-bg--main);
}

mark {
  background-color: var(--color-bg--highlight);
  border-radius: $rounded;
  padding: $size-0-5;
  color: inherit;
}

hr {
  border-color: var(--color-primary);
  margin: $size-8 $size-0;
}

menu, ul, ol {
  padding-left: $size-10;
}

menu, ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

dt {
  font-weight: $font-bold;
}

fieldset, .input {
  margin-bottom: $size-5;
}

h1, h2, h3, h4, h5, h6, .hdg {
  margin-bottom: $size-5;
}

table, progress, blockquote, pre, menu, ul, ol, dl, p {
  margin-bottom: $size-5;
}

dialog {
  background-color: var(--color-bg--surface);
  border-width: $border; border-radius: $radius-primary;
  padding: $size-4;
  box-shadow: $shadow-lg;
  color: inherit;
}

dialog::backdrop {
  background-color: rgba($gray-500, $opacity-75);
}

details {
  display: inline-block;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

table {
  width: $w-full;
}

td, th {
  border-bottom-width: $border;
  padding: $size-3;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, .hdg {
  font-weight: $font-bold; line-height: $leading-none;
}

h1, .hdg--xx-large {
  font-size: $text-4xl;
}

h2, .hdg--x-large {
  font-size: $text-2xl;
}

h3, .hdg--large {
  font-size: $text-lg;
}

h4, .hdg--medium {
  font-size: $text-base;
}

h5, .hdg--small {
  font-size: $text-sm;
}

h6, .hdg--x-small {
  font-size: $text-xs;
}
