@import "variables/border";
@import "variables/effects";
@import "variables/sizing";
@import "variables/zindex";

@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@mixin progress-bar {
  ::-webkit-progress-value {
    @content;
  }

  ::-moz-progress-bar {
    @content;
  }
}

@mixin make-container($padding-x: $size-4) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left:  auto;
}

@mixin gradient($direction, $from, $to: transparent, $via: null) {
  @if $via {
    background-image: linear-gradient($direction, $from, $via, $to);
  } @else {
    background-image: linear-gradient($direction, $from, $to);
  }
}
