@import "sass-zero/variables/border";
@import "sass-zero/variables/effects";
@import "sass-zero/variables/spacing";

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}

@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin checked {
  border-color: transparent;
  background-color: currentColor;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin input-selection($color) {
  appearance: none;
  border-width: $border;
  color: $color;
  margin-bottom: -0.1rem;
  height: $size-4;
  width: $size-4;
}

@mixin outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@mixin space-x($space, $reverse: false) {
  & > :not([hidden]) ~ :not([hidden]) {
    @if $reverse {
      margin-right: $space;
    } @else {
      margin-left: $space;
    }
  }
}

@mixin space-y($space, $reverse: false) {
  & > :not([hidden]) ~ :not([hidden]) {
    @if $reverse {
      margin-bottom: $space;
    } @else {
      margin-top: $space;
    }
  }
}

@mixin make-container($padding-x, $max-width) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: $size-auto;
  margin-left:  $size-auto;
  max-width: $max-width;
}
