$color-txt:                  #18181b;
$color-txt--subtle:          #3f3f46;
$color-txt--subtle-reversed: #fff;
$color-txt--decorated:       #3b82f6;

$color-bg--main:       #fff;
$color-bg--list-boxed: #f4f4f5;
$color-bg--highlight:  #f4f4f5;

$color-divider: #18181b;

@import "sass-zero/utilities/align";
@import "sass-zero/utilities/animation";
@import "sass-zero/utilities/container";
@import "sass-zero/utilities/dividers";
@import "sass-zero/utilities/flex";
@import "sass-zero/utilities/flush";
@import "sass-zero/utilities/layout";
@import "sass-zero/utilities/position";
@import "sass-zero/utilities/pull";
@import "sass-zero/utilities/push";
@import "sass-zero/utilities/text";
@import "sass-zero/utilities/list";
@import "sass-zero/utilities/unpad";
