@import "sass-zero/base/variables";
@import "sass-zero/mixins";

html {
  color: $breadboard-color;
}

blockquote {
  border-left-width: $border-4;
  padding: $size-3 $size-4;

  *:last-child {
    margin-bottom: $size-0;
  }
}

.btn {
  background-color: $white;
  border-radius: $rounded;
  border-width: $border;
  color: inherit;
  display: inline-block;
  font-weight: $font-bold;
  padding: $size-2 $size-4;
  cursor: pointer;

  &[disabled] {
    cursor: default;
    opacity: $opacity-50;
  }

  &--primary {
    background-color: $breadboard-primary;
    border-color: $breadboard-primary;
    color: $white;
    box-shadow: $shadow-sm;
  }

  &--secondary {
    background-color: transparent;
    border-color: $breadboard-primary;
    color: $breadboard-primary;
  }

  &--tertiary {
    background-color: transparent;
    border-color: transparent;
    color: $breadboard-primary;
  }
}

code {
	background-color: $breadboard-background;
  border-radius: $rounded;
	font-size: $text-sm;
	margin: 0 $size-1;
	padding: $size-1 $size-2;
	white-space: nowrap;
}

pre {
	background-color: $breadboard-background;
  border-color: $breadboard-primary;
	border-left-width: $border-4;
	overflow-y: hidden;

	& > code {
    border-radius: $rounded-none;
		display: block;
		padding: $size-2 $size-3;
    white-space: pre;
  }
}

hr {
  margin: $size-10 $size-0;
  border-bottom-width: $border-2;
}

.input {
  appearance: none;
  border-radius: $rounded;
  border-width: $border;
  display: block;
  padding: $size-2 $size-3;
  width: $size-full;

  &:focus {
    border-color: $breadboard-color;
    box-shadow: $shadow-outline;
    outline: 0;
  }

  &--select {
  	background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="%23a0aec0" xmlns="http://www.w3.org/2000/svg"><path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/></svg>');
    background-position: right $size-2 center;
    background-repeat: no-repeat;
    background-size: auto $size-6;
    padding-right: $size-10;
  }
}

label, legend {
  display: block;
  margin-bottom: $size-1;
}

.checkbox, .radio {
  appearance: none;
  background-origin: border-box;
  border-width: $border;
  color: $breadboard-primary;
	display: inline-block;
  margin-bottom: -2.6px;
  height: $size-4;
  width: $size-4;

  &:checked {
    border-color: transparent;
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:focus {
    border-color: $breadboard-color;
    box-shadow: $shadow-outline;
    outline: 0;
  }
}

.checkbox {
  border-radius: $rounded;

  &:checked {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="white" strokeWidth="2" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>');
  }
}

.radio {
  border-radius: $rounded-full;

  &:checked {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="3"/></svg>');
  }
}

a {
  color: $breadboard-primary;
  font-weight: $font-bold;
  cursor: pointer;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: disc inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $size-2;
}

dd, dt, li, .btn {
  margin-bottom: $size-2;
}

fieldset, .input, .select {
  margin-bottom: $size-4;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: $size-6;
}

table {
  width: $size-full;
}

thead th {
  border-bottom-width: $border-2;
}

td, th {
  border-bottom-width: $border;
  padding: $size-3 $size-4;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: $breadboard-primary;
  font-weight: $font-bold;
  line-height: $leading-tight;
}

h1 {
  font-size: $text-4xl;
}

h2 {
  font-size: $text-3xl;
}

h3 {
  font-size: $text-2xl;
}

h4 {
  font-size: $text-xl;
}

h5 {
  font-size: $text-lg;
}

h6 {
  font-size: $text-base;
}

main {
  @include make-container($size-10, $breakpoint-lg);
}

@media (max-width: $breakpoint-md - 1) {
  main {
    padding: $size-0;
  }
}
