@import "sass-zero/base/variables";
@import "sass-zero/mixins";

html {
  color: $breadboard-color;
  font-size: 14px;
}

main {
  padding-right: $size-2;
  padding-left:  $size-2;
}

blockquote {
  border-left-width: $border-4;
  padding: $size-3 $size-4;
}

.btn {
  background-color: $white;
  border-radius: $rounded;
  border-width: $border;
  color: $breadboard-color;
  display: inline-block;
  font-weight: $font-bold;
  padding: $size-2 $size-4;
  cursor: pointer;

  &:disabled, &.disabled {
    pointer-events: none;
    opacity: $opacity-50;
  }

  &--primary {
    background-color: $breadboard-primary;
    border-color: $breadboard-primary;
    color: $white;
  }

  &--secondary {
    border-color: $breadboard-primary;
    background-color: $white;
  }

  &--tertiary {
    background-color: $transparent;
    border-color: $transparent;
  }
}

code {
  background-color: $breadboard-background;
  border-radius: $rounded;
  font-size: $text-sm;
  margin: $size-0 $size-1;
  padding: $size-1 $size-2;
  white-space: nowrap;
}

pre {
  background-color: $breadboard-background;
  border-color: $breadboard-primary;
  border-left-width: $border-4;
  overflow-y: hidden;

  & > code {
    border-radius: $rounded-none;
  	display: block;
  	padding: $size-2 $size-3;
    white-space: pre;
  }
}

hr {
  margin: $size-6 $size-0;
}

.input {
  appearance: none;
  border-radius: $rounded;
  border-width: $border;
  padding: $size-2 $size-3;
  width: $size-full;

  &--select {
  	background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="silver" xmlns="http://www.w3.org/2000/svg"><path d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"></path></svg>');
    background-position: right $size-2 center;
    background-repeat: no-repeat;
    background-size: auto $size-5;
    padding-right: $size-8;
  }

  &:focus { @include focus; }
}

.checkbox {
  border-radius: $rounded;
  @include selection($breadboard-primary);

  &:checked {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 20 20" fill="white" strokeWidth="2" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>');
    @include checked;
  }

  &:focus { @include focus; }
}

.radio {
  border-radius: $rounded-full;
  @include selection($breadboard-primary);

  &:checked {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="3"/></svg>');
    @include checked;
  }

  &:focus { @include focus; }
}

label, legend, dt {
  display: inline-block;
  margin-bottom: $size-1;
}

a {
  font-weight: $font-bold;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

h1, h2, h3, h4, h5, h6, .hdg {
  margin-bottom: $size-2;
}

fieldset, .input {
  margin-bottom: $size-4;
}

blockquote, figure, p, pre, table, ul, ol, dl {
  margin-bottom: $size-4;
}

table {
  width: $size-full;
}

td, th {
  border-bottom-width: $border;
  padding: $size-3 $size-4;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, .hdg {
  font-weight: $font-bold;
  line-height: $leading-tight;
}

h1, .hdg--4xl {
  font-size: $text-4xl;
}

h2, .hdg--3xl {
  font-size: $text-3xl;
}

h3, .hdg--2xl {
  font-size: $text-2xl;
}

h4, .hdg--xl {
  font-size: $text-xl;
}

h5, .hdg--lg {
  font-size: $text-lg;
}

h6, .hdg--base {
  font-size: $text-base;
}

@media (min-width: $breakpoint-md) {
  html { font-size: 16px; }
  main { @include make-container($size-10, $breakpoint-lg); }
}
