@import "sass-zero/variables";

$breadboard-primary:     $gray-900;
$breadboard-color:       $gray-800;
$breadboard-placeholder: $gray-500;
$breadboard-border:      $gray-300;
$breadboard-background:  $gray-200;
