// *******************************************************************
// Flex
// Variables for controlling how flex items both grow and shrink.
// flex: $flex-1;
// *******************************************************************
$flex-1:       1 1 0%;   // Allow grow and shrink, ignoring its initial size.
$flex-auto:    1 1 auto; // Allow grow and shrink, considering its initial size.
$flex-initial: 0 1 auto; // Allow shrink but not grow, considering its initial size.
$flex-none:    none;     // Prevent grow or shrink.

// *******************************************************************
// Flex Grow
// Variables for controlling how flex items grow.
// flex-grow: $flex-grow-0;
// *******************************************************************
$flex-grow-0: 0;
$flex-grow:   1;

// *******************************************************************
// Flex Shrink
// Variables for controlling how flex items shrink.
// flex-shrink: $flex-shrink-0;
// *******************************************************************
$flex-shrink-0: 0;
$flex-shrink:   1;
