// *******************************************************************
// Height
// Variables for setting the height of an element
// height: $h-1-div-2;
// *******************************************************************
$h-1-div-2: 50%;
$h-1-div-3: 33.333333%;
$h-2-div-3: 66.666667%;
$h-1-div-4: 25%;
$h-2-div-4: 50%;
$h-3-div-4: 75%;
$h-1-div-5: 20%;
$h-2-div-5: 40%;
$h-3-div-5: 60%;
$h-4-div-5: 80%;
$h-1-div-6: 16.666667%;
$h-2-div-6: 33.333333%;
$h-3-div-6: 50%;
$h-4-div-6: 66.666667%;
$h-5-div-6: 83.333333%;

// *******************************************************************
// Min-Height
// Variables for setting the minimum height of an element
// min-height: $min-h-0;
// *******************************************************************
$min-h-0:      0px;
$min-h-full:   100%;
$min-h-screen: 100vh;

// *******************************************************************
// Max-Height
// Variables for setting the maximum height of an element
// max-height: $max-h-full;
// *******************************************************************
$max-h-full:   100%;
$max-h-screen: 100vh;
