// *******************************************************************
// Height
// Variables for setting the height of an element
// height: $h-per-1-2;
// *******************************************************************
$h-per-1-2: 50%;
$h-per-1-3: 33.333333%;
$h-per-2-3: 66.666667%;
$h-per-1-4: 25%;
$h-per-2-4: 50%;
$h-per-3-4: 75%;
$h-per-1-5: 20%;
$h-per-2-5: 40%;
$h-per-3-5: 60%;
$h-per-4-5: 80%;
$h-per-1-6: 16.666667%;
$h-per-2-6: 33.333333%;
$h-per-3-6: 50%;
$h-per-4-6: 66.666667%;
$h-per-5-6: 83.333333%;

// *******************************************************************
// Min-Height
// Variables for setting the minimum height of an element
// min-height: $min-h-0;
// *******************************************************************
$min-h-0:      0px;
$min-h-full:   100%;
$min-h-screen: 100vh;

// *******************************************************************
// Max-Height
// Variables for setting the maximum height of an element
// max-height: $max-h-full;
// *******************************************************************
$max-h-full:   100%;
$max-h-screen: 100vh;
