@import "../variables/breakpoints";
@import "../mixins";

.container {
  @include make-container;
}

@media (min-width: $breakpoint-sm) {
  .container--sm {
    max-width: $breakpoint-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .container--md {
    max-width: $breakpoint-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .container--lg {
    max-width: $breakpoint-lg;
  }
}

@media (min-width: $breakpoint-xl) {
  .container--xl {
    max-width: $breakpoint-xl;
  }
}

@media (min-width: $breakpoint-2xl) {
  .container--2xl {
    max-width: $breakpoint-2xl;
  }
}
