@import "../variables/breakpoints";
@import "../variables/sizing";

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--space-items {
  justify-content: space-between;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--centered {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex--align-bottom {
  align-items: flex-end;
}

.flex--gap {
  gap: $size-2-5;
}

.i-flex {
  display: inline-flex;
}

.flex-item--grow {
  flex-grow: 1;
}

.flex-item--no-shrink {
  flex-shrink: 0;
}

.flex-item--fill {
  flex: 1;
}

.flex-item--align-center {
  align-self: center;
}

.flex-item--align-start {
  align-self: start;
}

.flex-item--align-end {
  align-self: end;
}

@media (min-width: $breakpoint-md) {
  .flex\@md {
    display: flex;
  }

  .flex--row\@md {
    flex-direction: row;
  }

  .flex--column\@md {
    flex-direction: column;
  }

  .flex--centered\@md {
    justify-content: center;
  }

  .flex--align-center\@md {
    align-items: center;
  }

  .flex--space-items\@md {
    justify-content: space-between;
  }

  .flex--align-center\@md {
    align-items: center;
  }

  .flex--align-bottom\@md {
    align-items: flex-end;
  }
}
