.u-position-context {
  position: relative;
}

.u-position {
  position: absolute;
}

.u-position--right {
  right: 0;
}

.u-position--left {
  left: 0;
}

.u-position--top {
  top: 0;
}

.u-position--bottom {
  bottom: 0;
}
