// *******************************************************************
// Push Utilities
// .push-[xs|sm|md|lg|xl]
// .push-[xs|sm|md|lg|xl]--top
// .push-[xs|sm|md|lg|xl]--right
// .push-[xs|sm|md|lg|xl]--bottom
// .push-[xs|sm|md|lg|xl]--left
// .push-[xs|sm|md|lg|xl]--ends
// .push-[xs|sm|md|lg|xl]--sides
// *******************************************************************

@import "../variables/sizing";

@each $scale, $size in $size-map {
  .push-#{$scale} {
    margin: $size !important;
  }

  .push-#{$scale}--top {
    margin-top: $size !important;
  }

  .push-#{$scale}--right {
    margin-right: $size !important;
  }

  .push-#{$scale}--bottom {
    margin-bottom: $size !important;
  }

  .push-#{$scale}--left {
    margin-left: $size !important;
  }

  .push-#{$scale}--ends {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }

  .push-#{$scale}--sides {
    margin-right: $size !important;
    margin-left: $size !important;
  }
}
