@import "../variables/breakpoints";

.align--top {
  vertical-align: top;
}

.align--middle {
  vertical-align: middle;
}

.align--bottom {
  vertical-align: bottom;
}

.align--text-bottom {
  vertical-align: text-bottom;
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.centered {
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-sm) {
  .align--center\@sm {
    text-align: center;
  }
}
