.border--top {
  border-top-width: 1px;
}

.border--bottom {
  border-bottom-width: 1px;
}

.border--left {
  border-left-width: 1px !important;
}

.border--all {
  border-width: 1px !important;
}

.border--round {
  border-radius: 9999px !important;
}
