@import "sass-zero/variables/spacing";
@import "sass-zero/variables/width";
@import "sass-zero/mixins";

.hdg--divider {
  @include divider($color-divider);

  > span {
    background-color: $color-bg--main;
    padding-right: $size-2;
  }
}

.hdg--divider-centered {
  @include divider($color-divider);

  > span {
    background-color: $color-bg--main;
    padding-right: $size-2;
    padding-left:  $size-2;
  }
}
