.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--items-center {
    align-items: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--grow {
    flex-grow: 1;
  }

  &--shrink-0 {
    flex-shrink: 0;
  }
}
