.flex {
  display: flex !important;

  &--column {
    flex-direction: column !important;
  }

  &--row {
    flex-direction: row !important;
  }

  &--justify-start {
    justify-content: flex-start !important;
  }

  &--justify-center {
    justify-content: center !important;
  }

  &--justify-end {
    justify-content: flex-end !important;
  }

  &--justify-between {
    justify-content: space-between !important;
  }

  &--justify-around {
    justify-content: space-around !important;
  }

  &--items-center {
    align-items: center !important;
  }

  &--items-baseline {
    align-items: baseline !important;
  }

  &--none {
    flex: none !important;
  }
}
