.flush {
  margin: 0 !important;

  &--top {
    margin-top: 0 !important;
  }

  &--right {
    margin-right: 0 !important;
  }

  &--bottom {
    margin-bottom: 0 !important;
  }

  &--left {
    margin-left: 0 !important;
  }

  &--ends {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &--sides {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
