@import "sass-zero/variables";
@import "sass-zero/mixins";

.u-full-width {
  width: 100%;
}

.u-unscrollable {
  overflow: hidden;
}

.u-display-i {
  display: inline;
}

.u-display-b {
  display: block;
}

.u-display-ib {
  display: inline-block;
}

.u-display-n {
  display: none !important;
}

.u-centered {
  margin-right: auto;
  margin-left: auto;
}

.u-float-l {
  float: left;
}

.u-float-r {
  float: right;
}

.u-float-n {
  float: none;
}

.u-float-clear {
  clear: both;
}

.u-float-clear-l {
  clear: left;
}

.u-float-clear-r {
  clear: right;
}

@media (max-width: $breakpoint-md - 1) {
  .u-hide\@small {
    display: none;
  }
}

@media (min-width: $breakpoint-md) {
  .u-hide\@medium {
    display: none;
  }
}

@media print {
  .u-no-print {
    display: none !important;
  }
}
