@import "sass-zero/variables";
@import "sass-zero/mixins";

.u-clearfix {
  @include clearfix;
}

.u-position-context {
  position: relative;
}

.u-position-right,
.u-position-left,
.u-position--top-right,
.u-position--bottom-right {
  position: absolute !important;
}

.u-position-right {
  right: 0;
}

.u-position-left {
  left: 0;
}

.u-position--bottom-right {
  bottom: 0;
  right: 0;
}

.u-position--top-right {
  top: 0;
  right: 0;
}

.u-full-width {
  width: 100%;
}

.u-unscrollable {
  overflow: hidden;
}

.u-display-i {
  display: inline;
}

.u-display-b {
  display: block;
}

.u-display-ib {
  display: inline-block;
}

.u-display-n {
  display: none;
}

.u-pointer-events-n {
  pointer-events: none;
}

.u-margin-centered {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-md) {
  .u-wrap-on-desktop {
    display: block;
  }
}

@media (max-width: $breakpoint-md - 1) {
  .u-wrap-on-mobile {
    display: block;
  }
}

.u-nowrap {
  white-space: nowrap;
}

.u-float-l {
  float: left;
}

.u-float-r {
  float: right;
}

.u-float-n {
  float: none;
}

.u-float-clear {
  clear: both;
}

.u-float-clear-l {
  clear: left;
}

.u-float-clear-r {
  clear: right;
}

@media (max-width: $breakpoint-md - 1) {
  .u-float-n-on-mobile {
    float: none;
  }
}

.u-hide {
  display: none;
}

.u-hide-focus {
  outline: none !important;
}

@media (max-width: $breakpoint-md - 1) {
  .u-hide-on-media-small {
    display: none;
  }
}

@media (min-width: $breakpoint-md) {
  .u-hide-on-media-medium {
    display: none;
  }
}
