@import "sass-zero/variables/spacing";
@import "sass-zero/mixins";

.list--unindented {
  padding-left: $size-4;
}

.list--flush {
  padding-left: $size-0;
}

.list--unbulleted {
  padding-left: $size-0;
  list-style: none;
}

.list--inline li {
  display: inline-block;
  vertical-align: middle;
}

.list--dividers li:not(:last-child) {
  border-bottom-width: $border;
}
