@import "sass-zero/variables/spacing";
@import "sass-zero/mixins";

.list--unindented {
  padding-left: $size-4;
}

.list--flush {
  padding-left: $size-0;
}

.list--unbulleted {
  padding-left: $size-0;
  list-style: none;
}

.list--spaced {
  @include space-y($size-2);
}

.list--inside-bulleted {
  padding-left: $size-0;
  list-style-position: inside;
}

.list--boxed {
  background-color: $color-bg--list-boxed;
  padding: $size-4 $size-6;
  border-radius: $rounded-xl;
}

.list--ruled-top {
  border-top-width: $border;
}

.list--inline {
  @include space-x($size-2);
}

.list--inline > li {
  display: inline-block;
}

.list--ruled > li {
  padding: $size-4 $size-2;
  border-top-width: $border;
}
