@import "sass-zero/variables/spacing";

.list {
  &--unbulleted {
    list-style: none;
  }

  &--inside-bulleted {
   list-style-position: inside;
  }

  &--spaced > li + li {
    margin-top: $size-2;
  }

  &--spaced-small > li + li {
    margin-top: $size-1;
  }

  &--ruled > li {
    padding: $size-2 $size-1;
    border-top: $border solid $gray-300;
  }

  &--ruled-top {
    border-top: $border solid $gray-300;
  }

  &--inline {
    list-style: none;

    > li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $size-2;
      }
    }
  }

  &--spaced > li,
  &--spaced-small > li,
  &--ruled > li,
  &--inline > li {
    margin-bottom: $size-0;
  }
}
