@import "sass-zero/variables/spacing";

// *******************************************************************
// Pull Utilities
// .pull-[xs|md|lg|xl|2xl|3xl]--top
// .pull-[xs|md|lg|xl|2xl|3xl]--right
// .pull-[xs|md|lg|xl|2xl|3xl]--bottom
// .pull-[xs|md|lg|xl|2xl|3xl]--left
// .pull-[xs|md|lg|xl|2xl|3xl]--sides
// *******************************************************************
@each $scale, $size in $size-map {
  .pull-#{$scale}--top {
    margin-top: $size * -1 !important;
  }

  .pull-#{$scale}--right {
    margin-right: $size * -1 !important;
  }

  .pull-#{$scale}--bottom {
    margin-bottom: $size * -1 !important;
  }

  .pull-#{$scale}--left {
    margin-left: $size * -1 !important;
  }

  .pull-#{$scale}--sides {
    margin-right: $size * -1 !important;
    margin-left: $size * -1 !important;
  }
}
