@import "sass-zero/variables/spacing";

// *******************************************************************
// Pull Utilities
// $size-map: ("x-small": $size-1, "small": $size-2, "medium": $size-3, "large": $size-4, "x-large": $size-6, "xx-large": $size-10);
// *******************************************************************
@each $scale, $size in $size-map {
  .pull-#{$scale} {
    margin: (-$size) !important;

    &--top {
      margin-top: (-$size) !important;
    }

    &--right {
      margin-right: (-$size) !important;
    }

    &--bottom {
      margin-bottom: (-$size) !important;
    }

    &--left {
      margin-left: (-$size) !important;
    }

    &--ends {
      margin-top: (-$size) !important;
      margin-bottom: (-$size) !important;
    }

    &--sides {
      margin-right: (-$size) !important;
      margin-left: (-$size) !important;
    }
  }
}
