@import "../variables/spacing";

// *******************************************************************
// Push Utilities
// .push-[xs|sm|md|lg|xl|2xl|3xl]
// .push-[xs|sm|md|lg|xl|2xl|3xl]--top
// .push-[xs|sm|md|lg|xl|2xl|3xl]--right
// .push-[xs|sm|md|lg|xl|2xl|3xl]--bottom
// .push-[xs|sm|md|lg|xl|2xl|3xl]--left
// .push-[xs|sm|md|lg|xl|2xl|3xl]--ends
// .push-[xs|sm|md|lg|xl|2xl|3xl]--sides
// *******************************************************************
@each $scale, $size in $size-map {
  .push-#{$scale} {
    margin: $size !important;
  }

  .push-#{$scale}--top {
    margin-top: $size !important;
  }

  .push-#{$scale}--right {
    margin-right: $size !important;
  }

  .push-#{$scale}--bottom {
    margin-bottom: $size !important;
  }

  .push-#{$scale}--left {
    margin-left: $size !important;
  }

  .push-#{$scale}--ends {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }

  .push-#{$scale}--sides {
    margin-right: $size !important;
    margin-left: $size !important;
  }
}
