@import "sass-zero/variables/spacing";

// *******************************************************************
// Push Utilities
// $size-map: ("xs": $size-1, "sm": $size-2, "md": $size-3, "lg": $size-4, "xl": $size-5, "2xl": $size-6);
// *******************************************************************
@each $scale, $size in $size-map {
  .push-#{$scale} {
    margin: $size !important;

    &--top {
      margin-top: $size !important;
    }

    &--right {
      margin-right: $size !important;
    }

    &--bottom {
      margin-bottom: $size !important;
    }

    &--left {
      margin-left: $size !important;
    }

    &--ends {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }

    &--sides {
      margin-right: $size !important;
      margin-left: $size !important;
    }
  }
}
