@import "sass-zero/variables/spacing";

// *******************************************************************
// Push Utilities
// $size-map: ("x-small": $size-1, "small": $size-2, "medium": $size-3, "large": $size-4, "x-large": $size-6, "xx-large": $size-10);
// *******************************************************************
@each $scale, $size in $size-map {
  .push-#{$scale} {
    margin: $size !important;
  }

  .push-#{$scale}--top {
    margin-top: $size !important;
  }

  .push-#{$scale}--right {
    margin-right: $size !important;
  }

  .push-#{$scale}--bottom {
    margin-bottom: $size !important;
  }

  .push-#{$scale}--left {
    margin-left: $size !important;
  }

  .push-#{$scale}--ends {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }

  .push-#{$scale}--sides {
    margin-right: $size !important;
    margin-left: $size !important;
  }
}
