@import "sass-zero/variables/typography";
@import "sass-zero/variables/spacing";
@import "sass-zero/variables/colors";
@import "sass-zero/variables/border";
@import "sass-zero/mixins";

.txt--xs {
  font-size: $text-xs;
  line-height: $leading-4;
}

.txt--sm {
  font-size: $text-sm;
  line-height: $leading-5;
}

.txt--md {
  font-size: $text-base;
  line-height: $leading-6;
}

.txt--lg {
  font-size: $text-lg;
  line-height: $leading-7;
}

.txt--xl {
  font-size: $text-xl;
  line-height: $leading-7;
}

.txt--2xl {
  font-size: $text-2xl;
  line-height: $leading-8;
}

.txt--3xl {
  font-size: $text-3xl;
  line-height: $leading-9;
}

.txt--4xl {
  font-size: $text-4xl;
  line-height: $leading-10;
}

.txt--5xl {
  font-size: $text-5xl;
  line-height: $leading-4;
}

.txt--6xl {
  font-size: $text-6xl;
  line-height: $leading-4;
}

.txt--7xl {
  font-size: $text-7xl;
  line-height: $leading-4;
}

.txt--8xl {
  font-size: $text-8xl;
  line-height: $leading-4;
}

.txt--9xl {
  font-size: $text-9xl;
  line-height: $leading-4;
}

.txt--nowrap {
  white-space: nowrap;
}

.txt--break-words {
  word-wrap: break-word;
}

.txt--break-words-alt {
  word-break: break-word;
}

.txt--break-all {
  word-break: break-all;
}

.txt--ellipsis {
  @include ellipsis;
}

.txt--normal {
  font-weight: $font-normal !important;
}

.txt--bold {
  font-weight: $font-bold;
}

.txt--subtle {
  color: $gray-700;
}

.txt--very-subtle {
  color: $gray-600;
}

.txt--underline {
  text-decoration: underline;
}

.txt--uppercase {
  text-transform: uppercase;
}

.txt--highlight {
  background-color: $gray-200;
  border-radius: $rounded-full;
  padding: $size-0 $size-1;
}

.align--top {
  vertical-align: top;
}

.align--middle {
  vertical-align: middle;
}

.align--bottom {
  vertical-align: bottom;
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.decorated {
  color: $blue-500;
  text-decoration: underline;
}

.decorated--subtle {
  color: $gray-700;
  text-decoration: underline;
}
